# Copyright (C) 2021 The Android Open Source Project
#           (C) 2022-2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

on early-boot
    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on boot
    # Modem
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8
    mkdir /data/vendor/modem 0777 radio radio

    # Touchscreen
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch
    chown system system /sys/devices/platform/goodix_ts.0/goodix_ts_report_rate
    chmod 0660 /sys/devices/platform/goodix_ts.0/goodix_ts_report_rate
    chown system system /sys/class/touch/touch_dev/palm_sensor
    chmod 0664 /sys/class/touch/touch_dev/palm_sensor

    # Fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

    # Charging
    chown system system /sys/class/qcom-battery/input_suspend
    chmod 0660 /sys/class/qcom-battery/input_suspend

on post-fs
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

on post-fs-data
    # Camera
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver
    mkdir /data/vendor/camera 0777 camera camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio
    chmod 0666 /dev/camlog

    # Fingerprint
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

    # nv_mac
    mkdir /data/vendor/mac_addr 0770 system wifi

    # qrtr-lookup
    mkdir /data/vendor/qrtr 0775 system system

on property:ro.boot.hwversion=*
    setprop ro.boot.hardware.revision ${ro.boot.hwversion}

service init-xiaomi-taro-sh /vendor/bin/init.xiaomi_taro.sh
    class main
    user system
    group system
    oneshot

service batterysecret /vendor/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    override

service mi_thermald /vendor/bin/mi_thermald
    class main
    user root
    group system
    override

service qrtr-lookup /vendor/bin/qrtr-lookup
    class core
    user system
    group system
    disabled
    oneshot

on property:sys.boot_completed=1
    start qrtr-lookup

service citsensor-hal-2-0 /vendor/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input
    override
    task_profiles ServiceCapacityLow

service ssgqmigd /vendor/bin/ssgqmigd64
    override
    class late_start
    user radio
    group radio gps system
    socket ssgqmig seqpacket 0660 radio inet

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service_64
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock context_hub
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    onrestart restart audioserver
    socket audio_us_socket_0 seqpacket 0666 system system
